
.site-footer nav ul {
    display: flex;
    flex-direction:row;
    flex-wrap:  wrap;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0.5rem;
}

.footer_a a {
  color: #999;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.footer_a a:hover,
.footer_a a:focus-visible {
  color: #999;
  text-decoration: underline;
}

.copy {
  color: #999;
}

.footer {
  margin: 1rem 2rem 2rem;
  padding: 2rem;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  text-align: center;
  color: #999;
}