body {
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
nav, header,main, section, figure, footer {
    margin: 0;
    border: 1px solid #95b634;
    }
nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(20, 100, 70);
}
.logotipo {
    width: 50px;
    height: 50px;
}
.titulo {
    display:flex;
    align-items: center;
    gap: 5px;
}
h2, h4 {
    margin: 0;
}
h2 {
    color:salmon;
}
a {
    color:white;
    font-size: 20px;
}
header {
    width: 100%;
    height: 600px;
    background-image:
        linear-gradient(
            rgba(20, 100, 70, 0.55),
            rgba(20, 100, 70, 0.55)
        ),
        url("imagenes/paisaje.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
#texto-superior, .sub-uno, .sub-dos {
    color:salmon;
    font-size: 26px;
}
.aspectos {
    padding: 24px;
}
.img-encabezado {
    width: 100%;
    height: 400px;
    justify-self: center;
}
h1 {
    font-size: 50px;
}
h3, #info-footer {
    font-size: 24px;
}
main {
    display: flex;
    height: 500px;
}
section {
    padding: 20px;
    width: 50%;
    background-color: #006465;
}
figure {
    padding: 20px;
    width: 50%;
    background-color: #006750;
    gap: 8px;
}
footer {
    padding: 16px;
    width: 100%;
    height: 100px;
    background-color: rgb(33, 33, 199);
}

